PORT=5000
CORS_ORIGIN=http://localhost:3000
SUPABASE_URL=https://fpzgjiogbpnyjtchvyys.supabase.co
SUPABASE_SERVICE_ROLE_KEY=sb_publishable_fi-Gskkzde4DJMGPHsa4Uw_lhRTRIb9
N8N_WEBHOOK_URL=
AI_TTS_WEBHOOK_URL=

